<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRADOR</title>
    <link rel="stylesheet" href="../static/administrador.css">

</head>
<body>
    <div class="login-container"> 
    <div id="mensajeError"></div>

        <h2>Login</h2>
        
            <input type="text" id="username"  name="username" placeholder="Usuario" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>     
            <button class="boton" type="button" onclick="comprobarAdministrador()">Entrar</button>
         
        
    </div>

</body>

<script>
    function comprobarAdministrador(){
        
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        fetch('/comprobar_admin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: username, 
                    password : password
                 }) // Enviar el valor en formato JSON
            })
            .then(response => response.json()) // Parsear la respuesta como JSON
            .then(data => {
                // comprobar si el admin es correcto o no 
                if (data.resultado){
                    document.getElementById('mensajeError').textContent = "";
                    window.location.href = `/menu`;

                }
                else{
                    document.getElementById('mensajeError').textContent = "Usuario o contraseña incorrectos.";
                }
            })
            .catch(error => console.error('Error al enviar el dato:', error));
        }


    
</script>
</html>