<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRADOR</title>
    <link rel="stylesheet" href="../static/administrador.css">

</head>
<body>
    <div class="login-container"></div>
        <h2>Login</h2>
        
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <form action="{{ url_for('menu') }}" method="GET">
                <button class="boton" type="submit">Entrar</button>
            </form>
        
    </div>
</body>
</html>