<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifus</title>
    <link rel="stylesheet" href="../static/estilos.css">
</head>
<body>

    <h1> SPOTIFUS </h1>

    <div class="contenedor"> 
    <form action="{{ url_for('menu') }}" method="GET">
        <button class="boton" type="submit">Iniciar sesión</button>
    </form>
    

   <!--<a href="{{ url_for('pagina3')}}"><button class="boton"> Ver usuarios de la base de datos </button></a>

   <a href="{{ url_for('personalizacion')}}"><button class="boton"> Personalizacion de Personaje </button></a>
   --> 

   </div>


</body>
</html>