<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mapa de mi ubicación actual</title>
    <link rel="stylesheet" href="../static/mapa.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargar la API de Google Maps de forma asíncrona con callback -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
   
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div class="chat-toggle">
      <button id="toggle-chat-list" class="chat-icon">💬</button> <!-- Puedes usar un icono de chat aquí -->
  </div>
  <div id="chat-list-container" class="chat-list-container hidden">
    <button id="close-chat-list" class="close-chat-list-btn">&times;</button> 
    <ul id="chat-list"></ul>
  </div>
  <div id="track-info">
    <!-- Aquí se mostrará la información de la canción o el mensaje -->
</div>

<div id="artist-info">

</div>

    <script>
      const socket = io('https://mt.spotifind.eus');
    
      let map;
      let markers = {}; // Almacenar los marcadores de los usuarios conectados
      let activeChats = {};
    
      function initMap() {
        // Crear el mapa con una ubicación predeterminada
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 2,
          mapId: 'c2d3cb2adaa07c45'
        });
    
        // Intentar obtener la ubicación del usuario
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
    
              // Emitir la ubicación del usuario al servidor
              socket.emit('user-location', pos);
    
              // Centrar el mapa en la ubicación del usuario
              map.setCenter(pos);
              map.setZoom(14);
            },
            function() {
              handleLocationError(true, map.getCenter());
            }
          );
        } else {
          // Si el navegador no soporta geolocalización
          handleLocationError(false, map.getCenter());
        }
    
        // Manejar tanto las ubicaciones iniciales de los usuarios conectados como las actualizaciones
       
      }
      socket.on('update_user_locations', function(locations) {
  locations.forEach(function(location) {
    if (!markers[location.userId]) {

      let lat = location.lat;
      let lng = location.lng;
      let tooClose = false;

      for (const userId in markers) {
        if (markers.hasOwnProperty(userId)) {
          const existingMarker = markers[userId].position;
          const distance = haversineDistance(lat, lng, existingMarker.lat, existingMarker.lng);

          // Si la distancia es menor a 10 metros, marcarlo como "muy cerca"
          if (distance < 10) {
            tooClose = true;
            break;
          }
        }
      }

      if (tooClose) {
        // Si está demasiado cerca de otro marcador, moverlo un poco
        const offset = 0.0001; // Desplazamiento pequeño en grados (aprox. 11 metros)
        lat += offset;
        lng += offset;
      }

      // Crear un nuevo marcador si no existe
      const marker = new google.maps.marker.AdvancedMarkerElement({
        position: { lat: lat, lng: lng },
        map: map,
        title: `Usuario: ${location.userId}`,  // CORRECCIÓN: backticks aquí
        content: document.createElement('div')
      });

      marker.content.innerHTML = `<img src="data:image/png;base64,${location.img}" style="width: 60px; height: 60px;">`;  // CORRECCIÓN: backticks aquí
      markers[location.userId] = marker;

      const contentString = 
        `<div class="persona-${location.userId}" id="content" style="width: 150px; font-size: 12px;">
          <div id="siteNotice"></div>
          <h1 id="firstHeading" class="firstHeading" style="font-size: 14px; margin-bottom: 5px;">Información del usuario</h1>
          <div id="bodyContent" style="padding: 5px;">
            <p><b>User:</b> ${location.username}</p>
            <p><b>Artist:</b> ${location.artist}</p>
            <p><b>Track:</b> ${location.song}</p>
            <p><a href="https://open.spotify.com/user/${location.userId}" target="_blank" style="font-size: 10px;">Ver perfil</a></p>
            <button id="button-${location.userId}" style="font-size: 10px;">Abrir Chat</button>           
            <button id="button-cancion" style="font-size: 10px;">Vuestra Cancion</button>           
            <button id="button-cantante" style="font-size: 10px;">Vuestro Cantante</button>           
            </div>
        </div>`;

      const infowindow = new google.maps.InfoWindow({
        content: contentString,
        ariaLabel: "Información Usuario",
      });

      marker.addListener("click", () => {
        infowindow.open(map, marker);

        google.maps.event.addListenerOnce(infowindow, 'domready', () => {
        const openChatButton = document.getElementById(`button-${location.userId}`);
        openChatButton.addEventListener('click', () => {
          openChat(location.userId);
        });

        const cantanteBoton = document.getElementById(`button-cancion`);
        cantanteBoton.addEventListener('click', () => {
          socket.emit('canciones_mas_escuchadas', location.userId);
            

        });

        const cancionBoton = document.getElementById(`button-cantante`);
        cancionBoton.addEventListener('click', () => {
          socket.emit('cantante_en_comun', location.userId);
            

        });

      });
      });
    } else {
      // Actualizar la posición de un marcador existente si ya existe
      markers[location.userId].setPosition(new google.maps.LatLng(location.lat, location.lng));
    }
  });
});

       
socket.on('track', function(track) {
    const trackContainer = document.getElementById('track-info');

    if (track.status === 'match') {
        // Si hay coincidencia, mostrar la imagen, nombre y artista
        trackContainer.innerHTML = `
            <div>
                <button class="close-btn" onclick="closeWindow('track-info')">X</button>
                <img src="${track.image_url}" alt="Portada del Álbum" style="width: 200px; height: 200px;">
                <h2>Canción: ${track.name}</h2>
                <h3>Artista: ${track.artist}</h3>
            </div>
        `;
    } else if (track.status === 'no_match') {
        // Si no hay coincidencia, mostrar mensaje
        trackContainer.innerHTML = `
            <div>
                <button class="close-btn" onclick="closeWindow('track-info')">X</button>
                <h2>${track.message}</h2>
            </div>
        `;
    }
});

socket.on('artist', function(artist) {
    const artistContainer = document.getElementById('artist-info');

    if (artist.status === 'match') {
        // Si hay coincidencia, mostrar la imagen, nombre y artista
        artistContainer.innerHTML = `
            <div>
                <button class="close-btn" onclick="closeWindow('artist-info')">X</button>
                <img src="${artist.image_url}" alt="Portada del Álbum" style="width: 200px; height: 200px;">
                <h2>Artista: ${artist.name}</h2>
            </div>
        `;
    } else if (artist.status === 'no_match') {
        // Si no hay coincidencia, mostrar mensaje
        artistContainer.innerHTML = `
            <div>
                <button class="close-btn" onclick="closeWindow('artist-info')">X</button>
                <h2>${artist.message}</h2>
            </div>
        `;
    }
});

function closeWindow(id) {
    const element = document.getElementById(id);
    element.innerHTML = ''; 
    
}

socket.on('song_update', function(data) {
    // Actualizar la interfaz con la nueva canción y artista
    let userElement = document.querySelector(`.persona-${data.user_id}`);
    if (userElement) {

      const userElement = document.querySelector(`.persona-${data.userId} p:nth-of-type(1)`); // Primer <p>, donde está el "User"
      const trackElement = document.querySelector(`.persona-${data.userId} p:nth-of-type(2)`); // Segundo <p>, donde está el "Track"
      
      userElement.innerHTML = `<b>User:</b> ${data.track}`;   // Reemplaza el nombre de usuario
      trackElement.innerHTML = `<b>Track:</b> ${data.artist}`;
       
        
    }
});
socket.on('new_user_location', function(location) {
  if (!markers[location.userId]) {

    let lat = location.lat;
    let lng = location.lng;
    let tooClose = false;

    for (const userId in markers) {
      if (markers.hasOwnProperty(userId)) {
        const existingMarker = markers[userId].position;
        const distance = haversineDistance(lat, lng, existingMarker.lat, existingMarker.lng);

        // Si la distancia es menor a 10 metros, marcarlo como "muy cerca"
        if (distance < 10) {
          tooClose = true;
          break;
        }
      }
    }

    if (tooClose) {
      // Si está demasiado cerca de otro marcador, moverlo un poco
      const offset = 0.0001; // Desplazamiento pequeño en grados (aprox. 11 metros)
      lat += offset;
      lng += offset;
    }

    // Crear un nuevo marcador si no existe
    const marker = new google.maps.marker.AdvancedMarkerElement({
      position: { lat: lat, lng: lng },
      map: map,
      title: `Usuario: ${location.userId}`,  // CORRECCIÓN: backticks aquí
      content: document.createElement('div')
    });

    marker.content.innerHTML = `<img src="data:image/png;base64,${location.img}" style="width: 60px; height: 60px;">`;  // CORRECCIÓN: backticks aquí
    markers[location.userId] = marker;

    const contentString = 
      `<div class="persona-${location.userId}" id="content" style="width: 150px; font-size: 12px;">
        <div id="siteNotice"></div>
        <h1 id="firstHeading" class="firstHeading" style="font-size: 14px; margin-bottom: 5px;">Información del usuario</h1>
        <div id="bodyContent" style="padding: 5px;">
          <p><b>User:</b> ${location.username}</p>
          <p><b>Artist:</b> ${location.artist}</p>
          <p><b>Track:</b> ${location.song}</p>
          <p><a href="https://open.spotify.com/user/${location.userId}" target="_blank" style="font-size: 10px;">Ver perfil</a></p>
          <button id="button-${location.userId}" style="font-size: 10px;">Abrir Chat</button>
          <button id="button-cancion" style="font-size: 10px;">Vuestra Cancion</button>           
          <button id="button-cantante" style="font-size: 10px;">Vuestro Cantante</button> 
          </div>
      </div>`;

    const infowindow = new google.maps.InfoWindow({
      content: contentString,
      ariaLabel: "Información Usuario",
    });

    marker.addListener("click", () => {
      infowindow.open(map, marker);

      google.maps.event.addListenerOnce(infowindow, 'domready', () => {
        const openChatButton = document.getElementById(`button-${location.userId}`);
        openChatButton.addEventListener('click', () => {
          openChat(location.userId);
        });

        const cantanteBoton = document.getElementById(`button-cancion`);
        cantanteBoton.addEventListener('click', () => {
          socket.emit('canciones_mas_escuchadas', location.userId);
            

        });

        const cancionBoton = document.getElementById(`button-cantante`);
        cancionBoton.addEventListener('click', () => {
          socket.emit('cantante_en_comun', location.userId);
          
        });




      });

     

    });
  }
});

function openChat(userId){

socket.emit('get_user_id');


new Promise((resolve) => {
socket.once('receive_user_id', function(userId) {
sessionStorage.setItem('user_id', userId); // Guardar el ID en el almacenamiento de sesión
resolve(userId);
});
}).then((currentUserId) => {
const roomName = generateRoomName(currentUserId, userId);


// Si ya existe una ventana de chat abierta para esta sala, no la volvemos a abrir
if (activeChats[roomName]) {
return;
}

// Crear la ventana de chat
const chatWindow = document.createElement('div');
chatWindow.classList.add('chat-window');
chatWindow.innerHTML = `
<div class="chat-header">
Chat con el usuario ${userId}
<button class="close-chat-btn" onclick="closeChat('${roomName}')">&times;</button>
</div>
<div class="chat-messages" id="chat-messages-${roomName}"></div>
<input type="text" id="chat-input-${roomName}" placeholder="Escribe un mensaje..." />
<button onclick="sendMessage('${roomName}', '${userId}')">Enviar</button>
`;

document.body.appendChild(chatWindow);
activeChats[roomName] = chatWindow;

// Unirse a la sala de chat
socket.emit('join_room', { room_name: roomName, user_id: userId });

// Cargar los mensajes guardados desde la base de datos
socket.emit('load_chat_history', roomName);
});

}

       // Función para generar el nombre de la sala único basado en los dos usuarios
       function generateRoomName(user1, user2) {
    return [user1, user2].sort().join('-'); // Asegura que el orden de los usuarios no importe
}


// Función para enviar un mensaje
function sendMessage(roomName, userId) {
    const messageInput = document.getElementById(`chat-input-${roomName}`);
    const message = messageInput.value;

    if (message.trim()) {
        socket.emit('send_message', {
            room_name: roomName,
            message: message,
            user_id: userId
        });
        messageInput.value = ''; // Limpiar el campo de entrada
    }
}

// Escuchar mensajes entrantes
socket.on('receive_message', function(data) {
    const current = sessionStorage.getItem('user_id');
    const chatMessages = document.getElementById(`chat-messages-${data.room_name}`);
    if (chatMessages) {
        const messageClass = data.user_id === current ? 'chat-message-user' : 'chat-message-other';
        chatMessages.innerHTML += `
            <div class="${messageClass}">
                <strong>${data.username}:</strong> ${data.message}
            </div>
        `;
    }
});

// Recibir historial de chat cargado
socket.on('chat_history', function(data) {
    const chatMessages = document.getElementById(`chat-messages-${data.room_name}`);
    const current = sessionStorage.getItem('user_id');

    if (chatMessages) {
        data.messages.forEach(msg => {
            const [username, message, userId] = msg; 
            const messageClass = userId === current ? 'chat-message-user' : 'chat-message-other';
            chatMessages.innerHTML += `
                <div class="${messageClass}">
                    <strong>${username}:</strong> ${message}
                </div>
            `;
        });
    }
});

        socket.on('receive_user_id', function(userId) {
                console.log('ID del usuario actual:', userId);
                sessionStorage.setItem('user_id', userId); // Guardar el ID en el almacenamiento de sesión
        });


    socket.on('remove_user_location', function(id){

      //Cuando se desconecte un usuario eliminarlo de todos los mapas 
      if (markers[id]) {
        // Eliminar el marcador del mapa
        markers[id].setMap(null);
        // Eliminar el marcador de la lista de marcadores
        delete markers[id];
      }



    });

    function closeChat(roomName){
            const chatWindow = activeChats[roomName]
            if (chatWindow){
                chatWindow.remove();
                delete activeChats[roomName];
            }
        }


        socket.on('imprimir', function(data){
             imprimir(data);


});

function imprimir(data){
  console.log(data);
}

    function haversineDistance(lat1, lng1, lat2, lng2) {
        const R = 6371000; // Radio de la Tierra en metros
        const toRadians = angle => (angle * Math.PI) / 180;

        const dLat = toRadians(lat2 - lat1);
        const dLng = toRadians(lng2 - lng1);

        const a =
          Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(toRadians(lat1)) * Math.cos(toRadians(lat2)) *
          Math.sin(dLng / 2) * Math.sin(dLng / 2);

        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        return R * c; // Distancia en metros
    }
    
      // Función para manejar errores de geolocalización
      function handleLocationError(browserHasGeolocation, pos) {
        var infoWindow = new google.maps.InfoWindow({
          position: pos,
          content: browserHasGeolocation
            ? 'Error: El servicio de geolocalización falló.'
            : 'Error: Tu navegador no soporta geolocalización.'
        });
        infoWindow.open(map);
      }
      document.getElementById('toggle-chat-list').addEventListener('click', function() {
    const chatListContainer = document.getElementById('chat-list-container');
    chatListContainer.classList.toggle('visible');  // Mostrar o ocultar la lista de chats
    chatListContainer.classList.toggle('hidden');
});

document.getElementById('close-chat-list').addEventListener('click', function() {
    const chatListContainer = document.getElementById('chat-list-container');
    chatListContainer.classList.add('hidden');  // Ocultar la lista de chats
    chatListContainer.classList.remove('visible');
});


      
socket.on('user_chats', function(data) {
    const chatList = document.getElementById('chat-list'); // Un contenedor en tu HTML donde mostrar los chats
    chatList.innerHTML = ''; // Limpiar la lista actual

    data.rooms.forEach(function(roomName) {
        const li = document.createElement('li');
        li.textContent = `Chat Room: ${roomName}`;
        li.classList.add('chat-room-item');
        li.addEventListener('click', function() {
            openChatFromHistory(roomName);
        });

        chatList.appendChild(li);
    });
});

function openChatFromHistory(roomName) {
    // Si ya existe una ventana de chat abierta para esta sala, no la volvemos a abrir
    if (activeChats[roomName]) {
        return;
    }

    // Crear la ventana de chat
    const chatWindow = document.createElement('div');
    chatWindow.classList.add('chat-window');
    chatWindow.innerHTML = 
        `<div class="chat-header">
            Sala de chat ${roomName}
            <button class="close-chat-btn" onclick="closeChat('${roomName}')">&times;</button>
        </div>
        <div class="chat-messages" id="chat-messages-${roomName}"></div>
        <input type="text" id="chat-input-${roomName}" placeholder="Escribe un mensaje..." />
        <button onclick="sendMessage('${roomName}', null)">Enviar</button>`;

    document.body.appendChild(chatWindow);
    activeChats[roomName] = chatWindow;

    // Unirse a la sala de chat
    socket.emit('join_room', { room_name: roomName, user_id: sessionStorage.getItem('user_id') });

    // Cargar los mensajes guardados desde la base de datos
    socket.emit('load_chat_history', roomName);
}


      document.addEventListener('DOMContentLoaded', function() {
    // Pedir los chats previos del usuario al servidor
    socket.emit('load_user_chats');
    const script = document.createElement('script');
  script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCyyyFvScvEJiM7ycNxXFtTkASQQffKpM0&libraries=marker&callback=initMap";
  document.head.appendChild(script);
});
     
    </script>
    
    
  </body>
</html>
