<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones para el usuario</title>
    <script src="../static/opciones.js"></script>
</head>
<body>
    <div id="menu-user" class="menu-user">
        <button onclick="ejecutarAccion('Cambiar nombre de usuario')">Cambiar de nombre de usuario</button>
        <button onclick="ejecutarAccion('Personalizar el personaje')">Personalizar personaje</button>
        <button onclick="ejecutarAccion('Eliminar un chat')">Eliminar un chat con usuario</button>
        <button onclick="ejecutarAccion('Bloquear a un usuario')">Bloquear un usuario</button>
        <button onclick="ejecutarAccion('Desbloquear a un usuario')">Desbloquear un usuario</button>
        <button onclick="ejecutarAccion('Cerrar sesión')">Cerrar sesion</button>
    </div>
</body>
</html>