<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive List</title>
    <link rel="stylesheet" href="../static/personajes.css">
</head>
<body>

<div class="menu">
    <div class="menu-item">
        <details>
            <summary>Color de cuerpo</summary>
            <ul>
                <li><input type="radio" name="body_type" id="cuerpo1">Cuerpo1</li>
                <li><input type="radio" name="body_type" id="cuerpo2">Cuerpo2</li>
                <li><input type="radio" name="body_type" id="cuerpo3">Cuerpo3</li>
                <li><input type="radio" name="body_type" id="cuerpo4">Cuerpo4</li>
                <li><input type="radio" name="body_type" id="cuerpo5">Cuerpo5</li>
                <li><input type="radio" name="body_type" id="cuerpo6">Cuerpo6</li>
                <li><input type="radio" name="body_type" id="cuerpo7">Cuerpo7</li>
            </ul>
        </details>
    </div>

    <div class="menu-item">
        <details>
            <summary>Ojos</summary>
            <ul>
                <li> <div class="menu-item">
                    <details>
                        <summary>Ojos medios</summary>
                        <ul>
                            <li><input type="radio" name="ojos"  value="medios" id="azul">Azul</li>
                            <li><input type="radio" name="ojos" value="medios" id="marron">Marron</li>
                            <li><input type="radio" name="ojos" value="medios" id="verde">Verde</li>
                        </ul>
                    </details>
                </div></li>

                <li>
                    <div class="menu-item">
                        <details>
                            <summary>Ojos redondos</summary>
                            <ul>
                                <li><input type="radio" name="ojos" value="redondos" id="azul">Azul</li>
                                <li><input type="radio" name="ojos" value="redondos" id="marron">Marron</li>
                                <li><input type="radio" name="ojos" value="redondos" id="verde">Verde</li>
                            </ul>
                        </details>
                    </div>
                </li>

                <li>
                    <div class="menu-item">
                        <details>
                            <summary>Ojos aplastados</summary>
                            <ul>
                                <li><input type="radio" name="ojos" value="aplastados" id="azul">Azul</li>
                                <li><input type="radio" name="ojos" value="aplastados" id="marron">Marron</li>
                                <li><input type="radio" name="ojos" value="aplastados" id="verde">Verde</li>
                            </ul>
                        </details>
                    </div>
                </li>

            </ul>
        </details>
    </div>

    <div class="menu-item">
        <details>
            <summary>Camisetas</summary>
            <ul>
                <li> <div class="menu-item">
                    <details>
                        <summary>Manga Corta</summary>
                        <ul>
                            <li><input type="radio" name="camisetas"  value="manga_corta" id="rojo">Rojo</li>
                            <li><input type="radio" name="camisetas" value="manga_corta" id="gris">Gris</li>
                            <li><input type="radio" name="camisetas" value="manga_corta" id="amarillo">Amarillo</li>
                        </ul>
                    </details>
                </div></li>

                <li>
                    <div class="menu-item">
                        <details>
                            <summary>Tirantes</summary>
                            <ul>
                                <li><input type="radio" name="camisetas" value="tirantes" id="negro">Negro</li>
                                <li><input type="radio" name="camisetas" value="tirantes" id="rosa">Rosa</li>
                                <li><input type="radio" name="camisetas" value="tirantes" id="blanco">Blanco</li>
                            </ul>
                        </details>
                    </div>
                </li>

                <li>
                    <div class="menu-item">
                        <details>
                            <summary>Sudaderas</summary>
                            <ul>
                                <li><input type="radio" name="camisetas" value="sudadera" id="rojo">Rojo</li>
                                <li><input type="radio" name="camisetas" value="sudadera" id="azul">Azul</li>
                                <li><input type="radio" name="camisetas" value="sudadera" id="verde">Verde</li>
                            </ul>
                        </details>
                    </div>
                </li>

                <li></li>
                    <div class="menu-item">
                        <details>
                            <summary>Manga larga</summary>
                            <ul>
                                <li><input type="radio" name="camisetas" value="manga_larga" id="morado">Morado</li>
                                <li><input type="radio" name="camisetas" value="manga_larga" id="blanco">Blanco</li>
                            </ul>
                        </details>
                    </div>
                </li>

                <li></li>
                    <div class="menu-item">
                        <details>
                            <summary>Camisas</summary>
                            <ul>
                                <li><input type="radio" name="camisetas" value="camisas" id="blanco">Blanco</li>
                                <li><input type="radio" name="camisetas" value="camisas" id="negro">Negro</li>
                            </ul>
                        </details>
                    </div>
                </li>

            </ul>
        </details>
    </div>


    <div class="menu-item">
        <details>
            <summary>Bocas</summary>
            <ul>
                <li><input type="radio" name="bocas" id="boca1">Boca1</li>
                <li><input type="radio" name="bocas" id="boca2">Boca2</li>
                <li><input type="radio" name="bocas" id="boca3">Boca3</li>
                <li><input type="radio" name="bocas" id="boca4">Boca4</li>
            </ul>
            
        </details>
    </div>

    <div class="menu-item">
        <details>
            <summary>Gafas</summary>
            <ul>
                <li><input type="radio" name="gafas" id="normales">Normales</li>
                <li><input type="radio" name="gafas" id="de_sol">De sol</li>
                <li><input type="radio" name="gafas" id="parche">Parche</li>
            </ul>
            
        </details>
    </div>



 <div class="menu-item">
    <details>
        <summary>Pelos</summary>
        <ul>
            <li> <div class="menu-item">
                <details>
                    <summary>Melena1</summary>
                    <ul>
                        <li><input type="radio" name="pelos"  value="melena1" id="amarillo">Amarillo</li>
                        <li><input type="radio" name="pelos" value="melena1" id="azul">Azul</li>
                    </ul>
                </details>
            </div></li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Pelo corto 1</summary>
                        <ul>
                            <li><input type="radio" name="pelos" value="pelo_corto1" id="amarillo">Amarillo</li>
                            <li><input type="radio" name="pelos" value="pelo_corto1" id="marron">Marron</li>
                            <li><input type="radio" name="pelos" value="pelo_corto1" id="morado">Morado</li>
                        </ul>
                    </details>
                </div>
            </li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Melena2</summary>
                        <ul>
                            <li><input type="radio" name="pelos" value="melena2" id="amarillo">Amarillo</li>
                            <li><input type="radio" name="pelos" value="melena2" id="marron">Marron</li>
                            <li><input type="radio" name="pelos" value="melena2" id="naranja">Naranja</li>
                        </ul>
                    </details>
                </div>
            </li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Pelo corto 2</summary>
                        <ul>
                            <li><input type="radio" name="pelos" value="pelo_corto2" id="amarillo">Amarillo</li>
                            <li><input type="radio" name="pelos" value="pelo_corto2" id="marron">Marron</li>
                            <li><input type="radio" name="pelos" value="pelo_corto2" id="negro">Negro</li>
                        </ul>
                    </details>
                </div>
            </li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Cresta</summary>
                        <ul>
                            <li><input type="radio" name="pelos" value="cresta" id="azul">Azul</li>
                            <li><input type="radio" name="pelos" value="cresta" id="marron">Marron</li>
                            <li><input type="radio" name="pelos" value="cresta" id="rojo">Rojo</li>
                        </ul>
                    </details>
                </div>
            </li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Pelo corto 3</summary>
                        <ul>
                            <li><input type="radio" name="pelos" value="pelo_corto3" id="amarillo">Amarillo</li>
                            <li><input type="radio" name="pelos" value="pelo_corto3" id="marron">Marron</li>
                            <li><input type="radio" name="pelos" value="pelo_corto3" id="negro">Negro</li>
                        </ul>
                    </details>
                </div>
            </li>

            <li></li>
                <div class="menu-item">
                    <details>
                        <summary>Rapado</summary>
                        <ul>
                            <li><input type="radio" name="pelos" value="rapado" id="amarillo">Amarillo</li>
                            <li><input type="radio" name="pelos" value="rapado" id="marron">Marron</li>
                            <li><input type="radio" name="pelos" value="rapado" id="negro">Negro</li>
                        </ul>
                    </details>
                </div>
            </li>

        </ul>
    </details>
  </div>



 <div class="menu-item">
    <details>
        <summary>Pantalones</summary>
        <ul>
            <li> <div class="menu-item">
                <details>
                    <summary>Falda</summary>
                    <ul>
                        <li><input type="radio" name="pantalones"  value="faldas" id="blanco">Blanco</li>
                        <li><input type="radio" name="pantalones" value="faldas" id="azul">Azul</li>
                        <li><input type="radio" name="pantalones" value="faldas" id="rosa">Rosa</li>
                    </ul>
                </details>
            </div></li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Pantalon corto</summary>
                        <ul>
                            <li><input type="radio" name="pantalones" value="pantalon_corto" id="azul">Azul</li>
                            <li><input type="radio" name="pantalones" value="pantalon_corto" id="rojo">Rojo</li>
                            <li><input type="radio" name="pantalones" value="pantalon_corto" id="verde">Verde</li>
                        </ul>
                    </details>
                </div>
            </li>

            <li>
                <div class="menu-item">
                    <details>
                        <summary>Pantalon largo</summary>
                        <ul>
                            <li><input type="radio" name="pantalones" value="pantalon_largo" id="azul">Azul</li>
                            <li><input type="radio" name="pantalones" value="pantalon_largo" id="gris">Gris</li>
                            <li><input type="radio" name="pantalones" value="pantalon_largo" id="marron">Marron</li>
                        </ul>
                    </details>
                </div>
            </li>           

        </ul>
    </details>
 </div>

 <div class="menu-item">
    <details>
        <summary>Zapatillas</summary>
        <ul>
            <li><input type="radio" name="zapatillas" id="azul">Azul</li>
            <li><input type="radio" name="zapatillas" id="gris">Gris</li>
            <li><input type="radio" name="zapatillas" id="marron">Marron</li>
            <li><input type="radio" name="zapatillas" id="negro">Negro</li>
            <li><input type="radio" name="zapatillas" id="rojo">Rojo</li>
            <li><input type="radio" name="zapatillas" id="rosa">Rosa</li>
            <li><input type="radio" name="zapatillas" id="verde">Verde</li>
        </ul>
        
    </details>
 </div> 

 <div class="menu-item">
    <details>
        <summary>Accesorios</summary>
        <ul>
            <li><input type="radio" name="accesorios" id="alas"><label for="alas">Alas</label></li>
            <li><input type="radio" name="accesorios" id="capa"><label for="capa">Capa</label></li>
            <li><input type="radio" name="accesorios" id="furro"><label for="furro">Furro</label></li>
            <li><input type="radio" name="accesorios" id="gorrito"><label for="gorrito">Gorrito</label></li>
        </ul>
        
    </details>
 </div> 

</div>

<div class="image-container">
    <img  id="color cuerpo-image" src="" alt="" class="overlay-image">
    <img id="ojos_medios-image" src="" alt="" class="overlay-image">
    <img id="ojos_redondos-image" src="" alt="" class="overlay-image">
    <img id="ojos_aplastados-image" src="" alt="" class="overlay-image">
    <img id="camiseta_manga_corta-image" src="" alt="" class="overlay-image">
    <img id="camiseta_tirantes-image" src="" alt="" class="overlay-image">
    <img id="camiseta_mangas_largas-image" src="" alt="" class="overlay-image">
    <img id="camiseta_sudaderas-image" src="" alt="" class="overlay-image">
    <img id="camiseta_camisa-image" src="" alt="" class="overlay-image">
    <img id="bocas-image" src="" alt="" class="overlay-image">
    <img id="melena1-image" src="" alt="" class="overlay-image">
    <img id="pelo_corto1-image" src="" alt="" class="overlay-image">
    <img id="melena2-image" src="" alt="" class="overlay-image">
    <img id="pelo_corto2-image" src="" alt="" class="overlay-image">
    <img id="cresta-image" src="" alt="" class="overlay-image">
    <img id="pelo_corto3-image" src="" alt="" class="overlay-image">
    <img id="rapado-image" src="" alt="" class="overlay-image">
    <img id="faldas-image" src="" alt="" class="overlay-image">
    <img id="pantalon_corto-image" src="" alt="" class="overlay-image">
    <img id="pantalon_largo-image" src="" alt="" class="overlay-image">
    <img id="gafas-image" src="" alt="" class="overlay-image">
    <img id="zapatillas-image" src="" alt="" class="overlay-image">
    <img id="accesorios-image" src="" alt="" class="overlay-image">
</div>

<button id="guardar">Guardar</button>
<button id="continuar"> Continuar</button>
<canvas id="combinedCanvas" class="combinedCanvas" width="500" height="500"></canvas>
<div id="result-container"></div>


</body>
<script src="../static/personajes.js"></script>
</html>
