<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/tiemporeal.css">
</head>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<body>
    <h1>Current Users</h1>
    <ul id="user-list"></ul> <!-- Lista de usuarios en tiempo real -->

    <div class="sidebar">

        <h2>Your Chats</h2>
        <ul id="chat-list"></ul> 


    </div>
  

    <div id="track-info">
        <!-- Aquí se mostrará la información de la canción o el mensaje -->
    </div>

    <div id="artist-info">

    </div>



    <script>
        const socket = io();
        let currentChatUserId = null;
        let activeChats = {}; // lista de ventanas de chat abiertas

        // Recibir la lista de usuarios en tiempo real del servidor
        socket.on('update_user_list', function(personas) {
            const userList = document.getElementById('user-list');
            userList.innerHTML = ''; // Limpiar la lista existente

            personas.forEach(persona => {
                const li = document.createElement('li');
                li.classList.add(`persona-${persona.id}`);
                //li.textContent = `ID: ${persona.id}, Canción: ${persona.track}, Artista: ${persona.artist}`;
                const textContainer = document.createElement('div');
                textContainer.classList.add('text-container');
                textContainer.textContent = `ID: ${persona.id}, Canción: ${persona.track}, Artista: ${persona.artist}`;



                const img = document.createElement('img');
                imprimir(persona.imagen)
                img.src =`data:image/png;base64,${persona.imagen}`;
                img.setAttribute('data-id', persona.id);
                img.setAttribute('data-username', persona.usuario);
                img.classList.add('clickable-image');
                img.addEventListener('click', function() {
                    openMenu(this.getAttribute('data-id'), this.getAttribute('data-username'));
                });

                li.appendChild(img);
                li.appendChild(textContainer);
                userList.appendChild(li);
            });
        });


        // Función para abrir el menú con botones
        function openMenu(userId, username) {
            // Si ya existe un menú abierto, cerrarlo antes de abrir uno nuevo
            const existingMenu = document.getElementById('menu-modal');
            if (existingMenu) {
                existingMenu.remove();
            }

            // Crear el menú modal
            const menuModal = document.createElement('div');
            menuModal.id = 'menu-modal';
            menuModal.classList.add('menu-modal');

            const menuHeader = document.createElement('div');
            menuHeader.classList.add('menu-header');
            menuHeader.textContent = `Opciones para ${username || userId}`;

            const openChatButton = document.createElement('button');
            openChatButton.textContent = 'Abrir chat';
            openChatButton.onclick = function() {
                closeMenu(); // Cerrar el menú
                openChat(userId); 
            };

            const anotherOptionButton = document.createElement('button');
            anotherOptionButton.textContent = 'Vuestra canción';
            anotherOptionButton.onclick = function() {
                closeMenu();
                socket.emit('canciones_mas_escuchadas', userId);
            };

            const botonCantante = document.createElement('button');
            botonCantante.textContent = 'Vuestro cantante';
            botonCantante.onclick = function() {
                closeMenu();
                socket.emit('cantante_en_comun', userId);
            };

            const closeButton = document.createElement('button');
            closeButton.textContent = 'Cerrar';
            closeButton.onclick = closeMenu;

            menuModal.appendChild(menuHeader);
            menuModal.appendChild(openChatButton);
            menuModal.appendChild(anotherOptionButton);
            menuModal.appendChild(botonCantante);
            menuModal.appendChild(closeButton);

            document.body.appendChild(menuModal);
        }

        function openChat(userId){

            socket.emit('get_user_id');


            new Promise((resolve) => {
        socket.once('receive_user_id', function(userId) {
            sessionStorage.setItem('user_id', userId); // Guardar el ID en el almacenamiento de sesión
            resolve(userId);
        });
    }).then((currentUserId) => {
        const roomName = generateRoomName(currentUserId, userId);
        console.log(roomName);
  
            // Si ya existe una ventana de chat abierta para esta sala, no la volvemos a abrir
    if (activeChats[roomName]) {
        return;
    }

    // Crear la ventana de chat
    const chatWindow = document.createElement('div');
    chatWindow.classList.add('chat-window');
    chatWindow.innerHTML = `
        <div class="chat-header">
            Chat con el usuario ${userId}
            <button class="close-chat-btn" onclick="closeChat('${roomName}')">&times;</button>
            </div>
        <div class="chat-messages" id="chat-messages-${roomName}"></div>
        <input type="text" id="chat-input-${roomName}" placeholder="Escribe un mensaje..." />
        <button onclick="sendMessage('${roomName}', '${userId}')">Enviar</button>
    `;

    document.body.appendChild(chatWindow);
    activeChats[roomName] = chatWindow;

    // Unirse a la sala de chat
    socket.emit('join_room', { room_name: roomName, user_id: userId });

    // Cargar los mensajes guardados desde la base de datos
    socket.emit('load_chat_history', roomName);
});

}

        // Función para generar el nombre de la sala único basado en los dos usuarios
function generateRoomName(user1, user2) {
    return [user1, user2].sort().join('-'); // Asegura que el orden de los usuarios no importe
}

// Función para enviar un mensaje
function sendMessage(roomName, userId) {
    const messageInput = document.getElementById(`chat-input-${roomName}`);
    const message = messageInput.value;

    if (message.trim()) {
        socket.emit('send_message', {
            room_name: roomName,
            message: message,
            user_id: userId
        });
        messageInput.value = ''; // Limpiar el campo de entrada
    }
}

// Escuchar mensajes entrantes
socket.on('receive_message', function(data) {
    const current = sessionStorage.getItem('user_id');
    const chatMessages = document.getElementById(`chat-messages-${data.room_name}`);
    if (chatMessages) {
        const messageClass = data.user_id === current ? 'chat-message-user' : 'chat-message-other';
        chatMessages.innerHTML += `
            <div class="${messageClass}">
                <strong>${data.username}:</strong> ${data.message}
            </div>
        `;
    }
});

// Recibir historial de chat cargado
socket.on('chat_history', function(data) {
    const chatMessages = document.getElementById(`chat-messages-${data.room_name}`);
    const current = sessionStorage.getItem('user_id');

    if (chatMessages) {
        data.messages.forEach(msg => {
            const [username, message, userId] = msg;
            imprimir(userId); 
            const messageClass = userId === current ? 'chat-message-user' : 'chat-message-other';
            chatMessages.innerHTML += `
                <div class="${messageClass}">
                    <strong>${username}:</strong> ${message}
                </div>
            `;
        });
    }
});

        socket.on('receive_user_id', function(userId) {
                console.log('ID del usuario actual:', userId);
                sessionStorage.setItem('user_id', userId); // Guardar el ID en el almacenamiento de sesión
        });

        function closeMenu() {
            const menuModal = document.getElementById('menu-modal');
            if (menuModal) {
                menuModal.remove(); // Eliminar el menú del DOM
            }
        }

        function closeChat(roomName){
            const chatWindow = activeChats[roomName]
            if (chatWindow){
                chatWindow.remove();
                delete activeChats[roomName];
            }
        }

        

      

        
socket.on('track', function(track) {
    const trackContainer = document.getElementById('track-info');

    if (track.status === 'match') {
        // Si hay coincidencia, mostrar la imagen, nombre y artista
        trackContainer.innerHTML = `
            <div>
                <img src="${track.image_url}" alt="Portada del Álbum" style="width: 200px; height: 200px;">
                <h2>Canción: ${track.name}</h2>
                <h3>Artista: ${track.artist}</h3>
            </div>
        `;
    } else if (track.status === 'no_match') {
        // Si no hay coincidencia, mostrar mensaje
        trackContainer.innerHTML = `
            <div>
                <h2>${track.message}</h2>
            </div>
        `;
    }
});

socket.on('artist', function(artist) {
    const artistContainer = document.getElementById('artist-info');

    if (artist.status === 'match') {
        // Si hay coincidencia, mostrar la imagen, nombre y artista
        artistContainer.innerHTML = `
            <div>
                <img src="${artist.image_url}" alt="Portada del Álbum" style="width: 200px; height: 200px;">
                <h2>Artista: ${artist.name}</h2>
            </div>
        `;
    } else if (artist.status === 'no_match') {
        // Si no hay coincidencia, mostrar mensaje
        artistContainer.innerHTML = `
            <div>
                <h2>${artist.message}</h2>
            </div>
        `;
    }
});

     
socket.on('imprimir' , function(data){

    imprimir(data);
})

        function imprimir(data){

            console.log(data);
        }
        socket.on('song_update', function(data) {
    // Actualizar la interfaz con la nueva canción y artista
    let userElement = document.querySelector(`.persona-${data.user_id}`);
    if (userElement) {
       
        let textContainer = userElement.querySelector('.text-container');
        if (textContainer) {
            textContainer.textContent = `ID: ${data.user_id}, Canción: ${data.track}, Artista: ${data.artist}`;
        }
    }
});

socket.on('user_chats', function(data) {
    const chatList = document.getElementById('chat-list'); // Un contenedor en tu HTML donde mostrar los chats
    chatList.innerHTML = ''; // Limpiar la lista actual

    data.rooms.forEach(function(roomName) {
        const li = document.createElement('li');
        li.textContent = `Chat Room: ${roomName}`;
        li.classList.add('chat-room-item');
        li.addEventListener('click', function() {
            openChatFromHistory(roomName);
        });

        chatList.appendChild(li);
    });
});

function openChatFromHistory(roomName) {
    // Si ya existe una ventana de chat abierta para esta sala, no la volvemos a abrir
    if (activeChats[roomName]) {
        return;
    }

    // Crear la ventana de chat
    const chatWindow = document.createElement('div');
    chatWindow.classList.add('chat-window');
    chatWindow.innerHTML = 
        `<div class="chat-header">
            Sala de chat ${roomName}
            <button class="close-chat-btn" onclick="closeChat('${roomName}')">&times;</button>
        </div>
        <div class="chat-messages" id="chat-messages-${roomName}"></div>
        <input type="text" id="chat-input-${roomName}" placeholder="Escribe un mensaje..." />
        <button onclick="sendMessage('${roomName}', null)">Enviar</button>`;

    document.body.appendChild(chatWindow);
    activeChats[roomName] = chatWindow;

    // Unirse a la sala de chat
    socket.emit('join_room', { room_name: roomName, user_id: sessionStorage.getItem('user_id') });

    // Cargar los mensajes guardados desde la base de datos
    socket.emit('load_chat_history', roomName);
}

document.addEventListener('DOMContentLoaded', function() {
    // Pedir los chats previos del usuario al servidor
    socket.emit('load_user_chats');
});
      
    </script>
</body>
</html>
