/* Estilo general del menú de usuario */
.menu-user {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

/* Estilo para los botones */
.menu-user button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #4CAF50; /* Color azul atractivo */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Efecto hover en los botones */
.menu-user button:hover {
    background-color:#45a049; /* Color azul más oscuro cuando se pasa el mouse */
}

/* Mejorar legibilidad y centrar el texto */
body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 480px) {
    .menu-user {
        width: 90%;
    }

    .menu-user button {
        font-size: 14px;
        padding: 12px;
    }
}
