.image-container{
    position: absolute; /* Posiciona el contenedor de imágenes fuera del flujo normal del documento */
    top: 0; /* Alineado con la parte superior de la página o del contenedor padre */
    right: 70px; /* Lo desplaza hacia la derecha */
    width: 700px; /* Ajusta el ancho del contenedor de imágenes */
    height: 700px; /* Ajusta el alto del contenedor de imágenes */
    /*border: 2px solid #ccc; /* Bordes opcionales para visualizar el contenedor */
    z-index: 10; /
}

.overlay-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
img {
    width: 500px; /* Ancho grande */
    height: 500px; /* Alto grande */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsión */
    /*border: 2px solid #ccc; /* Bordes opcionales para ver los contenedores */
    margin: 10px; /* Espaciado entre las imágenes */
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.menu {
    width: 200px;
}

.menu-item {
    margin-bottom: 10px;
    color: darkgreen;
}

.menu-item ul {
    list-style-type: none;
    padding-left: 20px;
}

.combinedCanvas{
    display:none;

    
}

#zapatillas-image {
    z-index: 1;  /* Valor más bajo para estar por debajo */
}

#camiseta_tirantes-image, 
#camiseta_manga_corta-image, 
#camiseta_sudaderas-image,
#camiseta_mangas_largas-image,
#camiseta_camisa-image{

    z-index: 3;
}

/* Pantalones por encima de las zapatillas */
#faldas-image,
#pantalon_corto-image,
#pantalon_largo-image {
    z-index: 2;  /* Valor más alto para estar encima */
}

@media (max-width: 600px) {
    .image-container {
        position: relative; /* Cambia a posición relativa */
        top: auto; /* Restablece el valor de top */
        right: auto; /* Restablece el valor de right */
        width: 100%; /* Ocupa todo el ancho en móviles */
        max-height: 80vh; /* Alto máximo en móviles (80% de la altura de la ventana) */
        margin-top: 20px; /* Espacio adicional arriba del contenedor */
        overflow-y: auto; /* Permitir desplazamiento vertical si el contenido se desborda */
    }
}